web/WEB-INF/wsit-WebService.Servicios.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Servicios" targetNamespace="http://WebService/" xmlns:tns="http://WebService/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sc="http://schemas.sun.com/2006/03/wss/server" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" xmlns:wsrm="http://docs.oasis-open.org/ws-rx/wsrmp/200702" xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" 
 >
    <message name="listar"/>
    <message name="listarResponse"/>
    <message name="agregar"/>
    <message name="agregarResponse"/>
    <message name="ListarID"/>
    <message name="ListarIDResponse"/>
    <message name="Actualizar"/>
    <message name="ActualizarResponse"/>
    <message name="Eliminar"/>
    <message name="EliminarResponse"/>
    <message name="Flistar"/>
    <message name="FlistarResponse"/>
    <portType name="Servicios">
        <operation name="listar">
            <input message="tns:listar"/>
            <output message="tns:listarResponse"/>
        </operation>
        <operation name="agregar">
            <input message="tns:agregar"/>
            <output message="tns:agregarResponse"/>
        </operation>
        <operation name="ListarID">
            <input message="tns:ListarID"/>
            <output message="tns:ListarIDResponse"/>
        </operation>
        <operation name="Actualizar">
            <input message="tns:Actualizar"/>
            <output message="tns:ActualizarResponse"/>
        </operation>
        <operation name="Eliminar">
            <input message="tns:Eliminar"/>
            <output message="tns:EliminarResponse"/>
        </operation>
        <operation name="Flistar">
            <input message="tns:Flistar"/>
            <output message="tns:FlistarResponse"/>
        </operation>
    </portType>
    <binding name="ServiciosPortBinding" type="tns:Servicios">
        <operation name="listar">
            <input></input>
            <output></output>
        </operation>
        <operation name="agregar">
            <input/>
            <output/>
        </operation>
        <operation name="ListarID">
            <input/>
            <output/>
        </operation>
        <operation name="Actualizar">
            <input/>
            <output/>
        </operation>
        <operation name="Eliminar">
            <input/>
            <output/>
        </operation>
        <operation name="Flistar">
            <input/>
            <output/>
        </operation>
    </binding>
    <service name="Servicios">
        <port name="ServiciosPort" binding="tns:ServiciosPortBinding"/>
    </service>
    <wsp:Policy wsu:Id="ServiciosPortBinding_Eliminar_Input_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="ServiciosPortBinding_Eliminar_Output_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:EncryptedParts>
                    <sp:Body/>
                </sp:EncryptedParts>
                <sp:SignedParts>
                    <sp:Body/>
                </sp:SignedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
